<% layout('../layout') -%>
<% script('../script/lib/jquery.dataTables.min.js') -%>
<% script('../script/lib/dataTables.bootstrap.min.js') -%>
<% script('../script/datatables.js') -%>
<% stylesheet('../css/dataTables.bootstrap.min.css') -%>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" id= "addCodeButton">Add Code</button>
        <button class="btn btn-default" id= "addOrgButton">Add Organization</button>
    </div>

</div>

<table id="table_id" class="table display">
    <thead>
        <tr>
            <th>name</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
