<% layout('../layout') -%>

<h1>Bootstrap starter template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
<p>
    <a class="btn btn-link" href="/results">View result</a>
    <a class="btn btn-link" href="/form">Answer the questions</a>
</p>