<!DOCTYPE html>
<html lang="en">
<head>
    <% include views/head.ejs%>
</head>

<body>
<% include views/header.ejs%>

<!-- Insert Body here -->
<div class="container">

   <%- body %>

</div><!-- /.container -->

<% include views/footer.ejs%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>