<!DOCTYPE html>
<html lang="en">
<head>
    <% include views/head.ejs%>
    <%-stylesheets%>

     <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body>
<% include views/header.ejs%>

<!-- Insert Body here -->
<div class="container">

   <%- body %>

</div><!-- /.container -->

<% include views/footer.ejs%>

<script src="/script/lib/jquery-3.2.1.min.js"></script>
<script src="/script/lib/bootstrap-slider.min.js"></script>

<%-scripts%>
</body>
</html>